    <!-- Scripts -->
    <style>
      body {
        margin: 0;
      }
    </style>
    <script src="components/bower_components/webcomponentsjs/webcomponents.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

    <!-- Web Components -->
    <link rel="import" href="components/bower_components/paper-material/paper-material.html">
    <link rel="import" href="bower_components/platinum-sw/platinum-sw-elements.html">
    <link rel="import" href="bower_components/polymerfire/firebase-app.html">
    <link rel="import" href="event-planner.html">
    <link rel="import" href="checkout-form.html">
    <link rel="import" href="main-app.html">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="manifest" href="json/manifest.json">
    <link rel="icon" sizes="192x192" href="bower_components/note-app/common/images/icon-4x.png">


