<!-- the head has been added to global deps -->
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
    <link rel='stylesheet' type='text/css' href='/resources/tutorial/css/example.css'>

<script src="https://www.gstatic.com/firebasejs/3.6.1/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyCzhnmg4lArK8DY7jrk-BKMKi91p3Fw3hc",
    authDomain: "event-planner-e6ee3.firebaseapp.com",
    databaseURL: "https://event-planner-e6ee3.firebaseio.com",
    storageBucket: "event-planner-e6ee3.appspot.com",
    messagingSenderId: "838628542575"
  };
  firebase.initializeApp(config);
</script>
<dom-module id="login-components">

<template>
<style media="screen">
      body {
        font-family: Roboto, Arial, sans-serif;
        background: #ECEFF1;
        color: rgba(0,0,0,0.87);
      }

      a {
        color: rgb(3,155,229);
      }

      #message {
        max-width: 400px;
        margin: 40px auto;
        box-shadow: 0 1px 3px 0 rgba(0,0,0,0.2),0 1px 1px 0 rgba(0,0,0,0.14),0 2px 1px -1px rgba(0,0,0,0.12);
        border-radius: 2px;
        background: white;
        padding: 16px 24px;
      }

      #message h1 {
        font-size: 22px;
        font-weight: 500;
        text-align: center;
        margin: 0 0 16px;
      }

      #message p {
        font-weight: 300;
        line-height: 150%;
      }

      #message ul {
        list-style: none;
        margin: 16px 0 0;
        padding: 0;
        text-align: center;
      }

      #message li a {
        display: inline-block;
        padding: 8px;
        text-transform: uppercase;
        text-decoration: none;
        font-weight: 500;
        background: rgb(3,155,229);
        color: white;
        border: 1px solid rgb(3,155,229);
        border-radius: 3px;
        font-size: 14px;
        box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
      }
      fieldset.style-scope.login-components {
    display: block;
    border: 0;
}

form#form {
    width: 100%;
    max-width: 400px;
}

h2.style-scope.login-components {
    white-space: initial;
}
    </style>
    <div id="message">
        <form is="iron-form" id="form">
    <fieldset>
       <h2>Register your user account by adding the following information</h2>
         <paper-input id="user-name" name="name" label="What's your Username?" required autocomplete="name" aria-disabled="false" autofocus bind-value="{[username]}" error-message="Please enter your name correctly"></paper-input>
         <paper-input id="email" name="email" label="Please enter your email" required autocomplete="name" aria-disabled="false" bind-value="{[useremail]}" error-message="Please enter a valid Email Address"></paper-input>
         <paper-input id="password" name="password" label="Please enter your password" required autocomplete="name" aria-disabled="false" bind-value="{[userpassword]}" pattern="" error-message="Please enter a valid password">
         </paper-input>

         <!--
          commenting second password out until registration working
          <paper-input id="password-confirm" name="password-confirm" label="Please enter your password" required autocomplete="name" aria-disabled="false"></paper-input>-->
    </fieldset>
     <fieldset id="diff-address-container">
      <h2>Enter additional personal information (optional)</h2>
      <paper-input id="user-diffname" name="name" label="Ship to a different name?" autocomplete="name" aria-disabled="false"></paper-input>
      <paper-input id="diff-geo-address" onFocus="geolocate" type="text" autocomplete="street-address"></paper-input>
    </fieldset>
    <paper-button on-tap="_clearfields">Clear fields</paper-button>
    <paper-button on-tap="_register">Register</paper-button>
    <paper-button on-tap="_createUser">Register</paper-button>

  </form>
      <ul>
         <!-- refactor code here so that register triggers 'on tap' -->

        <li><paper-button on-tap="signIn2" id="register">Register</paper-button></li>
        <li><paper-button on-tap="signIn2" id="login">login</paper-button></li>
        <li><a id="signout">signout</a></li>
      </ul>
            <script type = "text/javascript">
var ref = Firebase('https://event-planner-e6ee3.firebaseio.com');
var email = "myeqwa245@email.com";
var password = "mypasswrword3";
var rButton = document.getElementById("register");
var lButton = document.getElementById("login");
var soButton = document.getElementById("signout");

rButton.addEventListener("click", function(){
  firebase.auth().createUserWithEmailAndPassword(email, password).catch(function(error) {
   console.log(error.code);
   console.log(error.message);
});
  console.log("SUCCESS! ACCOUNT CREATED!");
});

lButton.addEventListener("click", function(){
firebase.auth().signInWithEmailAndPassword(email, password).catch(function(error) {
   console.log(error.code);
   console.log(error.message);
});
   console.log("SUCCESS! LOGGED IN!");
});

soButton.addEventListener("click", function(){
firebase.auth().signOut().then(function() {
   console.log("Logged out!")
}, function(error) {
   console.log(error.code);
   console.log(error.message);
});
});




            </script>
    </div>

</template>

  <script>
Polymer({
  is: 'login-components',
  
  signIn: function() {
        this.fire('sign-in', null, { bubbles: true});
  },
  signIn2: function() {
        this.fire('sign-in', null, { bubbles: true});
  }
});
  </script>
</dom-module>