<link rel="import" href="bower_components/note-app-elements/na-elements.html">
<link rel="import" href="bower_components/app-storage/app-indexeddb-mirror/app-indexeddb-mirror.html">
<link rel="import" href="bower_components/polymerfire/polymerfire.html">
<script src="js/placeholder-fix.js"></script>

<dom-module id="main-app">

  <template>

	<style include="note-app-shared-styles">            .event-planner-0 {
    width: 80%;
    margin: 15px auto;
}</style>

	<!--  More on : https://codelabs.developers.google.com/codelabs/polymer-firebase-pwa/index.html?index=..%2F..%2Findex#20 -->
	<na-toolbar signed-in="[[signedIn]]" on-sign-out="signOut"></na-toolbar>

	<!--  More on : https://codelabs.developers.google.com/codelabs/polymer-firebase-pwa/index.html?index=..%2F..%2Findex#20 -->

	<!--  Google login disabled indefinetly, can enable again later
  <event-login-google on-sign-in="signIn" signed-in="[[signedIn]]" disabled="[[!online]]"></event-login-google> -->
  <event-login-pw on-sign-in="signIn2" signed-in="[[signedIn]]" disabled="[[!online]]"></event-login-pw>

    <!--  More on : https://codelabs.developers.google.com/codelabs/polymer-firebase-pwa/index.html?index=..%2F..%2Findex#17 -->
  <!--  More on : https://codelabs.developers.google.com/codelabs/polymer-firebase-pwa/index.html?index=..%2F..%2Findex#20 -->
  <!--  This creates authentication, where the id is the selector for this authenticator, allows logins-->
  <firebase-auth
    id="auth"
    app-name="event-planner"
    provider="google"
    signed-in="{{signedIn}}"
    user="{{user}}">
  </firebase-auth>

	<!--  More on : https://codelabs.developers.google.com/codelabs/polymer-firebase-pwa/index.html?index=..%2F..%2Findex#22 -->
	<!--  Docs on :  https://elements.polymer-project.org/elements/paper-fab -->
	<paper-fab
    icon="add"
    on-tap="create"
    disabled="[[!online]]"
    aria-label="Add note">
	</paper-fab>

	<!--  Docs: https://codelabs.developers.google.com/codelabs/polymer-firebase-pwa/index.html?index=..%2F..%2Findex#22 
	docs cont: https://github.com/PolymerLabs/note-app-elements/blob/master/na-editor.html -->
	<event-planner-editor
    id="editor"
    note="{{editableNote}}"
    on-close="commitChange">
	</event-planner-editor>
	
	<!--  Docs: https://codelabs.developers.google.com/codelabs/polymer-firebase-pwa/index.html?index=..%2F..%2Findex#25 
	docs cont: https://github.com/PolymerElements/app-storage/blob/master/app-indexeddb-mirror/app-indexeddb-mirror.html -->
	<app-indexeddb-mirror
    session="[[user.uid]]"
    key="notes"
    data="{{notes}}"
    persisted-data="{{persistedNotes}}">
	</app-indexeddb-mirror>
	
	<!--  Docs: https://codelabs.developers.google.com/codelabs/polymer-firebase-pwa/index.html?index=..%2F..%2Findex#23 
	docs cont: https://github.com/firebase/polymerfire -->
  <!--  This allows us to tap into the database, need to review documentation on https://github.com/PolymerLabs/note-app-elements/blob/master/na-behavior.html#L17-L20 to better understand -->
	<firebase-document
    id="document"
    app-name="event-planner"
    path="[[editableNoteId]]"
    data="{{editableNote}}">
	</firebase-document>

	<!--  Docs: https://codelabs.developers.google.com/codelabs/polymer-firebase-pwa/index.html?index=..%2F..%2Findex#25
	docs cont: https://github.com/firebase/polymerfire -->
	<firebase-query
    id="query"
    app-name="event-planner"
    path="/notes/[[user.uid]]"
    data="{{notes}}">
	</firebase-query>

         
	<!--  Docs: https://codelabs.developers.google.com/codelabs/polymer-firebase-pwa/index.html?index=..%2F..%2Findex#26
	docs cont: https://github.com/PolymerLabs/note-app-elements/blob/master/na-note.html -->
	<div class="notes">
  		<template is="dom-repeat" items="[[persistedNotes]]" as="note">
    		<event-planner
        		id$="[[note.$key]]"
        		title="[[note.title]]"
            host="[[note.host]]"
        		body="[[note.body]]"
            eventtype="[[note.eventtype]]"
            startdate="[[note.startdate]]"
            enddate="[[note.enddate]]"
            location="[[note.location]]"
        		on-tap="edit">
    		</event-planner>
  		</template>
	</div>
  </template>

  <script>
    Polymer({
      is: 'main-app',

      // more on this here: https://codelabs.developers.google.com/codelabs/polymer-firebase-pwa/index.html?index=..%2F..%2Findex#19
      // and here: https://github.com/PolymerLabs/note-app-elements/blob/master/na-behavior.html
      behaviors: [Polymer.NoteAppBehavior],

      // more on this here: https://codelabs.developers.google.com/codelabs/polymer-firebase-pwa/index.html?index=..%2F..%2Findex#21
      signIn: function() {
      	this.$.auth.signInWithPopup();
      },
      // more on this here: https://codelabs.developers.google.com/codelabs/polymer-firebase-pwa/index.html?index=..%2F..%2Findex#21
      signIn2: function() {
        this.$.auth.signInWithEmailAndPassword(email, password);
      },

      // https://codelabs.developers.google.com/codelabs/polymer-firebase-pwa/index.html?index=..%2F..%2Findex#23
      get notesPath() {
      return '/notes/' + this.user.uid;
   	  },
      toEditableId: function(noteId) {
      return this.notesPath + '/' + noteId;
    	},
      // https://codelabs.developers.google.com/codelabs/polymer-firebase-pwa/index.html?index=..%2F..%2Findex#23
      // https://github.com/PolymerLabs/note-app-elements/blob/master/na-behavior.html#L27-L29
      get isEditable() {
      return this.online;

    	}
    });
  </script>

</dom-module>